<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
         <td><%= link_to post.title, post.url, target: :blank %> - <i> published_at <%= time_ago_in_words(post.published_at) %> ago.</i></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class='pagination'>
  <%= link_to_if (@page != 0), "Last Page", posts_path(page: @page - 1) %> 
  | 
  <%= link_to_if (@posts.present?), "Next Page", posts_path(page: @page + 1) %> 
</div>
